MONGO_INITDB_ROOT_USERNAME=pacjentwybiera
MONGO_INITDB_ROOT_PASSWORD=pacjentwybiera
MONGO_URL=mongodb://pacjentwybiera:pacjentwybiera@mongodb:27017/?authSource=admin
CHROMA_HOST=chroma
CHROMA_PORT=8000
CHROMA_HEALTH_URL=http://chroma:8000/api/v1/heartbeat
CORS_ORIGINS=["http://localhost:5173"]
